Code/
dconf/
gedit/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
mimeapps.list
neofetch/
nitrogen/
pavucontrol.ini
yay/
pulse/
polybar.old/
systemd/
Thunar/
user-dirs.dirs
user-dirs.locale
xfce4/
QtProject.conf
inkscape/
smplayer/
xarchiver/
GIMP/
Insomnia/
JetBrains/
Mousepad/
beekeeper-studio/
flameshot/

